$brand-red: #36151E;
$brand-dark-blue: #0B3954;
$brand-light-blue: #2979E8;
$brand-grey: #393E41;
$brand-darker-blue: #0C1B33;
$brand-grey-blue: #374A67;

$brand-light-grey: #DDDBD9;
$brand-metallic-grey:#A7B5C5;
$brand-sky-blue: #6295CF;
