$brand-red: #A50005;
$brand-light-blue: #01A3BC;
$brand-grey: #393E41;
$brand-dark-blue: #0C1B33;
$brand-grey--blue: #374A67;

$brand-light-grey: #DDDBD9;
$brand-metallic-grey:#A7B5C5;
$brand-sky-blue: #6295CF;
