button {
  margin: 10px;
  width: 50%;
  background: $brand-light-blue;
  border: 2px solid $brand-light-blue;
  height: 40px;
  border-radius: 500px;
  text-align: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline:none;
  padding: 5px;
  @include appearance(none);
  @include box-sizing(initial);
  @include transition(all 0.5s ease);
  &:hover{
    background: transparent;
    color: $brand-light-blue;
  }
}
input{
  cursor: text;
}
