<h1>Budget Planner</h1>

<div class="budgetSetup">
  <section>
    <h2>Total Cost: £{{ budgetPlanner.newTrip.flightCost + budgetPlanner.newTrip.expenses + budgetPlanner.newTrip.accomCost - budgetPlanner.newTrip.totalSavings }}</h2>
  </section>
  <section>
    <h2>Flights</h2>
    <form ng-submit="budgetPlanner.getFlights()">
      <label for="">Month</label>
      <select ng-model="budgetPlanner.newTrip.departDate" name="departDate">
        <option value="2017-01-01">Jan 2017</option>
        <option value="2017-02-01">Feb 2017</option>
        <option value="2017-03-01">Mar 2017</option>
        <option value="2017-04-01">Apr 2017</option>
        <option value="2017-05-01">May 2017</option>
        <option value="2017-06-01">Jun 2017</option>
        <option value="2017-07-01">Jul 2017</option>
        <option value="2017-08-01">Aug 2017</option>
        <option value="2017-09-01">Sep 2017</option>
        <option value="2017-10-01">Oct 2017</option>
        <option value="2017-11-01">Nov 2017</option>
        <option value="2017-12-01">Dec 2017</option>
      </select>

      <label for="">Duration</label>
      <input ng-model="budgetPlanner.newTrip.duration" type="number" name="duration" placeholder="How long for?">

      <label for="">Departure Airport</label>
      <input ng-model="budgetPlanner.newTrip.origin" type="text" name="origin" placeholder="e.g. 'LGW'">

      <label for="">Arrival Airport</label>
      <input ng-model="budgetPlanner.newTrip.destination" type="text" name="destination" placeholder="e.g. 'LAX'">


      <hr>
      <button type="submit" name="button">Find flights</button>
    </form>
    <div ng-show="!!budgetPlanner.newTrip.flightCost">
      <label>Expected Flight Cost</label>
      <input ng-model="budgetPlanner.newTrip.flightCost" type="number" name="flightCost">
    </div>
  </section>
  <hr>
  <section ng-show="!!budgetPlanner.newTrip.flightCost">
    <h2>Accommodation</h2>
    <form ng-submit="budgetPlanner.createTrip()">
      <label>Cost</label>
      <input ng-model="budgetPlanner.newTrip.accomCost" type="number" name="accomCost" placeholder="Add expected cost">

      <h2>Spending Money</h2>
      <label>Total</label>
      <input ng-model="budgetPlanner.newTrip.expenses" type="number" name="expenses" placeholder="£">

      <h2>Current Savings</h2>
      <label>Total saved</label>
      <input ng-model="budgetPlanner.newTrip.totalSavings" type="number" name="totalSavings" placeholder="£">
      <hr>
      <button>Save trip</button>
    </form>
  </section>
</div>

<div class="budgetBreakdown">
</div>
