<div class="hero-image" style="background-image:url('../../images/main-hero.jpeg')">
  <h1>Veni Vidi Vici</h1>
  <h2>A new way to discover the world</h2>
</div>
<section>
  <p class="description intro">Get inspired by others adventures, uncover the cost to go, then build the plan to get you there.</p>
  <p class="description intro">Browse through stunning images of far away destinations discovered by fellow adventurers. Learn about these hidden treasures, then go live the dream. Find flight, accommodation and expenses costs for your dream trip and build a personalised savings plan with weekly savings targets to turn your dreams into a reality.</p>
  <div class="oneCol">
    <button ui-sref="gallery">Start Exploring</button>
  </div>
</section>
<!-- <section>
  <ul class='gridContainer'>
    <li class="imagesGrid" ng-if="main.isLoggedIn()" style="background-image:url('../../images/addsign.png')">
      <a ui-sref="locationsNew()">
        <div class="overlay">
          <h2 class="dark">Share your discovery</h2>
        </div>
      </a>
    </li>
    <li class="imagesGrid" ng-repeat="location in locationsIndex.all" style="background-image:url('{{location.mainImage}}')">
      <a ui-sref="locationsShow({ id: location._id })">
        <div class="overlay">
          <h2>{{ location.locationName }}</h2>
        </div>
      </a>
    </li>
  </ul> -->

</section>
