<div class="hero-image" style="background-image:url('{{ locationsShow.location.mainImage }}')">
  <h1>Welcome to {{ locationsShow.location.locationName }}</h1>
</div>
<!-- <carousel images="locationsShow.location.images" delay="5000"></carousel> -->
<section id="locationsShow">
  <div class="info">
    <p class="description">{{ locationsShow.location.description}}</p>
  </div>
  <div class="info">
    <div class="threeCol">
      <h2>Closest Airport</h2>
      <p>{{ locationsShow.location.closestAirport}}</p>
    </div>
    <div class="threeCol">
      <h2>Attractions</h2>
      <p ng-repeat="attraction in locationsShow.location.attractions">{{ attraction }}</p>
    </div>
    <div class="threeCol">
      <h2>Best time of the year</h2>
      <p>{{ locationsShow.location.bestTime}}</p>
    </div>
  </div>
</section>
<section>
  <div>
    <div class="oneCol">
      <button ui-sref="budgetPlanner({id: locationsShow.location._id})">Live the dream</button>
    </div>

    <div class="discovery">
      <div class="twoCol suggest"><a class="heading" a ui-sref="locationsEdit({id: locationsShow.location._id})">Suggest an edit</a></div>
      <div class="twoCol by">Discovered by <a ui-sref="adventurersShow({ id: locationsShow.location.user._id })" ui-sref-active="active">{{ locationsShow.location.user.username }}</a> <img ng-src="{{ locationsShow.location.user.profilePic }}" alt="profilePic" height="40px" style="border-radius:100px;"/></div>
    </div>
  </div>
</section>
<section>
  <div class="images">
    <div class="images-left tooltip-item" ng-click="locationsShow.bigImage({ image: locationsShow.location.images[0]})" style="background-image:url('{{locationsShow.location.images[0]}}')">
      <!-- <img ng-src="{{locationsShow.location.images[0]}}"></a> -->
    </div>
    <div class="images-right">
      <div ng-repeat="image in locationsShow.location.images.slice(1,5) track by $index"  class="images-right-img" ng-click="locationsShow.bigImage(image)" style="background-image:url({{ image }})"></div>
    </div>
  </div>
</section>
<section ng-if="locationsShow.center">
  <h2 style="text-align: center;">Map</h2>
  <google-map center="locationsShow.center"></google-map>
</section>
