<section id="locationsShow">
  <img ng-src="{{ locationsShow.location.mainImage }}">
  <div class="info">
    <h1>Welcome to {{ locationsShow.location.locationName }}</h1>
    <p>{{ locationsShow.location.description}}</p>
  </div>
  <div class="info">
    <div class="threeCol">
      <h2>Closest Airport</h2>
      <p>{{ locationsShow.location.closestAirport}}</p>
    </div>
    <div class="threeCol">
      <h2>Attactions</h2>
      <p ng-repeat="attraction in locationsShow.location.attractions">{{ attraction }}</p>
    </div>
    <div class="threeCol">
      <h2>Best time of the year</h2>
      <p>{{ locationsShow.location.bestTime}}</p>
    </div>
  </div>
</section>
<section>
  <div>
    <div class="oneCol">
      <button ui-sref="budgetPlanner({id: locationsShow.location._id})">Get me there</button>
    </div>
    <div class="">
      <p>Discovered by {{ locationsShow.location.user }}</p>
      <a class="heading" a ui-sref="locationsEdit({id: locationsShow.location._id})">Suggest an edit</a>
    </div>
  </div>
</section>
<section>
  <div class="images">
    <div class="images-left">
      <img ng-src="{{locationsShow.location.images[0]}}"></a>
    </div>
    <div class="images-right">
      <div ng-repeat="image in locationsShow.location.images"  class="images-right-img" style="background-image:url({{ image }})"></div>
    </div>

  </div>
  <h2>{{ location.locationName }}</h2>
</section>
