<div class="loginSection">
  <div class="loginForm">

    <a ui-sref="home"><img class="closingIcon" src="images/closeicon.png"></a>
    <div class="error" ng-if="login.err">
      <p>Hmm... we don't seem to have an account with that information. 🤔</p>
        <p>Double check your password and try again.</h3>
    </div>

    <h1>Log in</h1>
    <form class="login-div" novalidate ng-submit="login.submit()">
      <div>
        <input type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div>
        <input type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>
      <div >
        <button>Login</button>
      </div>
    </form>
    <div >
      <button ng-click="login.authenticate('facebook')">Login with Facebook</button>
    </div>
    <div>
      <h2>New to Veni Vidi Vici?</h2>
      <button ui-sref="register" class="oneCol">Create your account</button>
    </div>
    </div>
</div>
