<div class="loginSection">
  <div class="loginForm">

    <a ui-sref="home"><img class="closingIcon" src="images/closeicon.png"></a>
    <div class="error" ng-if="login.err">
      <p>Hmm... we don't seem to have an account with that information. 🤔</p>
        <p>Double check your password and try again.</h3>
    </div>

    <h1>Log in</h1>
    <form novalidate ng-submit="login.submit()">
      <div>
        <label>Email</label>
        <input type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>
      <div>
        <button class="oneCol">Login</button>
        <button class="oneCol" ng-click="login.authenticate('facebook')">Login with Facebook</button>
      </div>
    </form>
    <div>
      <h2>New to Travel App?</h2>
      <a ui-sref="register"><button class="oneCol">Create your account</button></a>
    </div>
    </div>
</div>
