
<section class="profileSection">

  <form ng-submit="profileEdit.update()">

      <!--
        <div ng-controller="UploadController as upload">
          <drag-drop base64="upload.data.base64"></drag-drop>
        </div> -->

  <div class="profileSignUpForm">
    <div class="divHeading">
      <h2>Edit profile</h2>
    </div>
    <div>

      <label>Profile Picture</label>
      <input type="text" name="image" placeholder="image url" ng-model="profileEdit.profile.profilePic">
      <input type="file" name="profilePic" accept="image/*" />
    </div>

    <div>
      <label>Username</label>
      <input type="text" name="user name" placeholder="Username" ng-model="profileEdit.profile.username">
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="Name" placeholder="Email" ng-model="profileEdit.profile.email">
    </div>
    <div>
      <label>Your preferred Airport</label>
      <input type="text" name="airport" placeholder="Enter your preferred airport" ng-model="profileEdit.profile.preferredAirport">
    </div>
    <button>Update your profile</button>
    </div>
  </form>
</section>
