
<div class="registerSection">
  <div class="registerForm">

    <a ui-sref="home"><img class="closingIcon" src="images/closeicon.png"></a>

    <div class="error" ng-if="register.err">
      <p>Oh dear... there was a problem creating your account 🤔</p>
      <p>Check your details and try again.</h3>
    </div>

    <h1>Start discovering today</h1>
    <form novalidate ng-submit="register.submit()">
      <div>
        <input type="text" placeholder="Username" ng-model="register.user.username">
      </div>
      <div>
        <input type="email" placeholder="Email" ng-model="register.user.email">
      </div>
      <div>
        <input type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div>
        <input type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
      </div>
      <button>Register</button>
    </form>
        <p>
          Already registered? <a ui-sref="login">Log in</a>
          <!-- {{ register.user }} -->
        </p>
  </div>
</div>
