<section>
  <div class="usersInfo">
    <img ng-src="{{ adventurersShow.user.profilePic }}">
    <h1>{{ adventurersShow.user.username }}'s Discoveries</h1>
  </div>
</section>

<section>
    <ul class='gridContainer'>
      <li class="imagesGrid" ng-repeat="location in adventurersShow.locations" style="background-image:url('{{ location.mainImage }}')">
        <a ui-sref="locationsShow({ id: location._id })">
          <div class="overlay">
            <h2>{{ location.locationName }}</h2>
          </div>
        </a>
      </li>
    </ul>
</section>
