<div class="home-image">
  <img src="https://paraphrasinglife.files.wordpress.com/2014/08/no-1-alternative.jpg"
</div>
<!-- only show when log in -->
<!-- <carousel images="main.images" delay="5000"></carousel> -->
<section class="container">
  <!-- <div class="addLocation" ng-if="main.isLoggedIn()">
    <a ui-sref="locationsNew()" class="heading" >Add a Place</a>
  </div> -->

  <section class='gridContainer'>
    <ul>
      <li class="imagesGrid" ng-if="main.isLoggedIn()" style="background-image:url('http://iconshow.me/media/images/ui/ios7-icons/png/512/plus-empty.png')">
        <a ui-sref="locationsNew()">
          <div class="overlay">
            <h2 class="dark">Share your discovery</h2>
          </div>
        </a>
      </li>
      <li class="imagesGrid" ng-repeat="location in locationsIndex.all" style="background-image:url('{{location.mainImage}}')">
        <a ui-sref="locationsShow({ id: location._id })">
          <div class="overlay">
            <h2>{{ location.locationName }}</h2>
          </div>
        </a>
      </li>
    </ul>
  </section>

</section>
