<section class="row">
  <form ng-submit="locationsNew.createLocation()">

  <div class="createForm">
    <div>
      <label>Main Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.mainImage">
    </div>

    <div>
      <label>Location Name</label>
      <input type="text" name="Name" placeholder="Enter Location Name" ng-model="locationsNew.location.locationName">
    </div>

    <div>
      <label>Nearest Airport</label>
      <input type="text" name="airport" placeholder="Enter Nearest Airport" ng-model="locationsNew.location.closestAirport">
    </div>
    <div>
      <label>Attractions</label>
      <input type="text" name="attractions" placeholder="Enter nearest attractions" ng-model="locationsNew.location.attractions">
    </div>
    <div>
      <label>When to go?</label>
      <input type="text" name="whentogo" placeholder="Enter month" ng-model="locationsNew.location.bestTime">
    </div>
  </div>

<!-- array of images -->
<section>
  <h3>Share your images here</b>
  <div ng-controller="UploadController as upload">

    <drag-drop base64="upload.data.base64"></drag-drop>
    <drag-drop base64="upload.data.base64"></drag-drop>
  </div>
</section>



  <div class="imagesUploadForm">
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.tempImage.one">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.tempImage.two">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.tempImage.three">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.tempImage.four">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsNew.location.tempImage.five">
    </div>
  </div>

    <button>Upload Your Discovery</button>
  </form>
</section>
