<section class="row">

  <form ng-submit="locationsEdit.update()">

  <div class="editForm">
    <div>
      <label>Main Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.mainImage">
    </div>

    <div>
      <label>Location Name</label>
      <input type="text" name="Name" placeholder="Enter Location Name" ng-model="locationsEdit.location.locationName">
    </div>

    <div>
      <label>Nearest Airport</label>
      <input type="text" name="airport" placeholder="Enter Nearest Airport" ng-model="locationsEdit.location.closestAirport">
    </div>
    <div>
      <label>Attractions</label>
      <input type="text" name="attractions" placeholder="Enter nearest attractions" ng-model="locationsEdit.location.attractions">
    </div>
    <div>
      <label>When to go?</label>
      <input type="text" name="whentogo" placeholder="Enter month" ng-model="locationsEdit.location.bestTime">
    </div>
</div>

<!-- array of images -->
<div ng-controller="UploadController as upload">
  <h1>upload</h1>
  {{upload}}
  <drag-drop base64="upload.data.base64"></drag-drop>
</div>



<div class="tripImages">
    <div>
      <label>Image</label>
        <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.images[0]">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.images[1]">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.images[2]">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.images[3]">
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="image" placeholder="image url" ng-model="locationsEdit.location.images[4]">
    </div>

</div>
    <button>Update</button>
  </form>
</section>
