
<section>

  <form ng-submit="profileEdit.update()">

  <div>
    <div>
      <label>Profile Picture</label>
      <input type="text" name="image" placeholder="image url" ng-model="profileEdit.profile.profilePic">
    </div>

    <div>
      <label>Username</label>
      <input type="text" name="user name" placeholder="Enter Username" ng-model="profileEdit.profile.username">
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="Name" placeholder="Enter email" ng-model="profileEdit.profile.email">
    </div>
    <div>
      <label>Your preferred Airport</label>
      <input type="text" name="airport" placeholder="Enter your preferred airport" ng-model="profileEdit.profile.preferredAirport">
    </div>
  </div>
    <button>Update your profile</button>
  </form>
</section>
