<section>
  <div class="usersInfo">
    <img ng-src="{{ profileShow.profile.profilePic }}" alt="{{ profileShow.profile.profilePic }}">
    <h1>{{ profileShow.profile.username }}</h1>
    <p>Email: {{ profileShow.profile.email }}</p>
    <p>Preferred Airport: {{ profileShow.profile.preferredAirport }}</p>
    <button ui-sref="profileEdit({ id: profileShow.profile._id })">Update Profile</button>
    <button ng-click="profileShow.logout()">Logout</button>      
  </div>
</section>

<!-- hide if there are no saved trips. .length determines if there is a data in the object and evaluates if its true or false-->

<section ng-if="profileShow.trips.length">
  <h1>Upcoming Trips</h1>
  <ul class='gridContainer'>
    <li class="imagesGrid" ng-repeat="trip in profileShow.trips" style="background-image:url('{{trip.location.mainImage}}')">
      <a ui-sref="budgetTracker({id: trip._id})">
        <div class="overlay">
          <h3>{{trip.location.locationName}}</h3>
          <button>Budget tracker</button>
        </div>
      </a>
    </li>
  </ul>
</section>


<!-- hide if there are no saved trips. .length determines if there is a data in the object and evaluates if its true or false-->
<section ng-if="profileShow.locations.length">
  <h1>My Discoveries</h1>
  <ul class='gridContainer'>
    <li class="imagesGrid" ng-repeat="location in profileShow.locations" style="background-image:url('{{location.mainImage}}')">
      <a ui-sref="locationsShow({ id: location._id })">
        <div class="overlay">
          <h2>{{location.locationName}}</h2>
        </div>
      </a>
    </li>
  </ul>
</section>
