<section>
    <div class="info">
      <h1>My Details</h1>
    </div>

  <!-- <div ng-controller="UploadController as upload">
    <div>profile image</div>
    <drag-drop base64="upload.data.base64"></drag-drop>
  </div> -->


  <div><img ng-src="{{ profileShow.profile.profilePic }}" alt="profilePic" height="300px" style="border: 1px black solid;"/>
  </div>

  <p>Username: {{ profileShow.profile.username }}</p>
  <p>Email: {{ profileShow.profile.email }}</p>
  <p>Preferred Airport: {{ profileShow.profile.preferredAirport }}</p>

  <button ui-sref="profileEdit({ id: profileShow.profile._id })">Edit Your Profile</button>
</section>

<!-- hide if there are no saved trips -->

<section>


  <div class="trips">
    <h1>My Trips</h1>
      <!-- {{profileShow.trips}} -->
    <div class="trips-tile" ng-repeat="trip in profileShow.trips" style="background-image:url('{{trip.location.mainImage}}')">
      <ul>
        <li>Destination: {{trip.destination}}</li>
        <li>Origin: {{trip.origin}}</li>
        <li>Flight cost: £{{trip.flightCost}}</li>
        <li><button ui-sref="budgetTracker({id: trip._id})">Budget Tracker</button></li>
        <!-- <li>
          <img ng-src="{{trip.location.mainImage}}">
        </li> -->
      </ul>

    </div>
  </div>

</section>
