<section>
    <div class="info">
      <h1>My Details</h1>
    </div>

  <img ng-src="{{ usersShow.user.profilePic }}">
  <p>Username: {{ usersShow.user.username }}</p>
  <p>Email: {{ usersShow.user.email }}</p>
  <p>Preferred Airport: {{ usersShow.user.preferredAirport }}</p>

  <a class="heading" a ui-sref="usersEdit({id: usersShow.user._id})">Edit Profile</a>
</section>

<!-- hide if there are no saved trips -->

<section>


  <div class="trips">
    <h1>My Trips</h1>
      <!-- {{usersShow.trips}} -->
    <div class="trips-tile" ng-repeat="trip in usersShow.trips" style="background-image:url('{{trip.location.mainImage}}')">
      <ul>
        <li>Destination: {{trip.destination}}</li>
        <li>Origin: {{trip.origin}}</li>
        <li>Flight cost: £{{trip.flightCost}}</li>
        <li><button ui-sref="budgetTracker({id: trip._id})">Budget Tracker</button></li>
        <!-- <li>
          <img ng-src="{{trip.location.mainImage}}">
        </li> -->
      </ul>

    </div>
  </div>

</section>
