
<section>

  <form ng-submit="usersEdit.update()">

  <div>
    <div>
      <label>Profile Picture</label>
      <input type="text" name="image" placeholder="image url" ng-model="usersEdit.user.profilePic">
    </div>

    <div>
      <label>Username</label>
      <input type="text" name="user name" placeholder="Enter Username" ng-model="usersEdit.user.username">
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="Name" placeholder="Enter email" ng-model="usersEdit.user.email">
    </div>
    <div>
      <label>Your preferred Airport</label>
      <input type="text" name="airport" placeholder="Enter your preferred airport" ng-model="usersEdit.user.preferredAirport">
    </div>
  </div>
    <button>Update your profile</button>
  </form>
</section>
