<!DOCTYPE html>
<html ng-app="travelApp">
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link rel="stylesheet" href="/css/vendor.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/vendor.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body ng-controller="MainController as main">
  <header class="container">
    <h1>Project 3</h1>
    <nav>
      <ul>
        <li><a ui-sref="budgetPlanner" ui-sref-active="active">Budget Planner</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="userShow" ui-sref-active="active">My profile</a></li>
        <li ng-if="main.isLoggedIn()"><a ng-click="main.logout()">Logout</a></li>

      </ul>
    </nav>
  </header>
  <main ui-view>
  </main>
</body>
</html>
<!-- // new menu -->
<!-- <header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li ng-if="!main.isLoggedIn()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-if="main.isLoggedIn()"><a ng-click="main.logout()">Logout</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">More</a>

    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header> -->
