<!DOCTYPE html>
<html ng-app="travelApp">
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link rel="stylesheet" href="/css/vendor.css"> -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/vendor.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body ng-controller="MainController as main">
  <header class="container">
    <h1>Project 3</h1>
    <nav>
      <ul>
        <!-- <li><a ui-sref="filmsIndex" ui-sref-active="active">Films</a></li> -->
        <!-- <li ng-if="main.isLoggedIn()"><a ui-sref="filmsNew" ui-sref-active="active">New Film</a></li> -->
        <li ng-if="!main.isLoggedIn()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-if="main.isLoggedIn()"><a ng-click="main.logout()">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main class="container" ui-view>
  </main>
</body>
</html>
