button {
  width: 150px;
  background:  #0B3954;
  border: 2px solid #0B3954;
  height: 40px;
  border-radius: 500px;
  text-align: center;
  color: #FBFBFB;
  font-size: 18px;
  cursor: pointer;
  outline:none;
  padding: 5px;
  @include appearance(none);
  @include box-sizing(initial);
  @include transition(all 0.5s ease);
  &:hover{
    background: transparent;
    color: #0B3954;
  }
}

input{
  cursor: text;
}
