@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/mixins";
@import "partials/carousel";
@import "partials/brandColours";
@import "partials/buttons";
@import "partials/progressBar";

.google-map {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}

.error {
  color: $brand-red;
}

a {
  color: black;
}
p {
  line-height: 30px;
}
h1, h2, h3, button {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
h2, h3 {
  letter-spacing: 2px;
}
h3 {
  line-height: 40px;
}

main {
  margin-top: 60px;
}
img {
  max-width: 100%;
}

ul {
  padding: 0px;
}

section {
  @include outer-container;
  padding: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: ffffff;
  position: relative;
  .profileSection{
    background-image: url("../../images/beach1.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36,39,43,0.7);
    z-index: 600 !important;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    input{
      width: 500px;
    }
    .profileSignUpForm {
      background-color: rgba(251, 251, 251, 0.32);
      padding: 20px;
      button{
        width: 80%;
        margin-left: 10%;
      }
    }
  }
  .divHeading{
    height: 50px;
  }
  .loginSection{
    background-image: url("../../images/beach1.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
      h1{
        text-align: center;
      }
    .loginForm{
      background-color: rgba(251, 251, 251, 0.32);
      padding: 20px;
      width: 60%;
      padding: 20px;
      text-align: center;
        h2{
          text-align: center;
        }
        button{
          width: 80%;
          display: block;
          margin: 20px auto;
          float: none;
        }
    }
  }
  .registerSection{
    background-image: url("../../images/beach1.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 4;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
      .registerForm{
        background-color: rgba(251, 251, 251, 0.32);
        padding: 20px;
        top: 30%;
        width: 60%;
          p{
            text-align: center;
          }
          button{
            width: 80%;
            margin-top: 20px;

        }
      }
    }
  .newLocationSection{
    background-image: url("../../images/beach1.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36,39,43,0.7);
    z-index: 3;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    .createLocationForm{
      background-color: rgba(251, 251, 251, 0.32);
      padding: 20px;
      width: 80%;
      top: 50px;
        button{
          width: 80%;
        }
    }
  }
  .locationEditSection{
    background-image: url("../../images/beach1.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36,39,43,0.7);
    z-index: 3;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    form {
      position: relative;
      a {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .locationEditForm{
      background-color: rgba(251, 251, 251, 0.32);
      padding: 40px;
      overflow: hidden;
      width: 900px;
      top: 50px;
        button{
          width: 80%;
          background: rgba(78, 171, 199, 0.97);
          border: rgba(78, 171, 199, 0.97);
          margin-top: 10px;
      }
    }
  }
  .closingIcon{
    float: right;
  }
}
footer {
  width: 100%;
  background-color: #B3B3B3;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
  p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.description {
  letter-spacing: 1px;
  text-align: justify;
  text-indent: 50px;
}

.hero-image {
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-top: -60px;
  h1 {
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: lighter;
  }
  h2 {
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
  }
  .textContainer {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 100%;
    margin: 50px auto;
  }
}


.mini-hero {
  @extend .hero-image;
  height: 300px;
  h1 {
    font-size: 40px;
    top: 60%;
  }
}

#locationsShow, #budgetTracker {

  img {
    height: 500px;
    width: 100%;
  }

  h1 {
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%,50%);
    width: 70%;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}
.login {
  margin-top: 150px;
}

.register {
  margin-top: 150px;
}

.budget-tracker {
  .chart {
    max-width: 280px;
    max-height: 280px;
    margin: 0 auto;
  }
}

.usersInfo {
  @include span-columns(12);
  @include omega(1n);
  text-align: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}
  .images {
    overflow: hidden;
    position: relative;
    min-height: 325px;
    &-left {
      @include span-columns(8);
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      @media screen and (max-width: 767px) {
        @include span-columns(12);
        position: static;
        margin-bottom: 20px;
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }
    &-right {
      @include span-columns(4);
      @include shift(8);
      @media screen and (max-width: 767px) {
        @include span-columns(12);
        @include shift(0);
      }
      // display: table-cell;
      &-img {
        @include span-columns(2 of 4);
        @include omega(2n);
        @media screen and (max-width: 767px) {
          @include span-columns(6 of 12);
        }
        // height: 200px;
        background-position: center;
        background-size: cover;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 20px;
        }
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }
  }

.imagesGrid {
  @include span-columns(4);
  @include omega(3n);

  @media screen and (max-width: 767px) {
    @include omega-reset(3n);
    @include span-columns(6);
    @include omega(2n);
  }

  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: all 0.4s ease;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    width: 100%;
  }

  h3 {
    position: absolute;
    font-size: 24px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    width: 100%;
  }
  button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-transform: uppercase;
  }
  .dark {
    color: black;
    top: 0;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}

.threeCol, .budget-col {
  @include span-columns(4);
  @include omega(3n);
  text-align: center;
}

.budget-col {
  hr {
    margin: 20px 0;
  }
  form > * {
    margin-bottom: 20px;
  }
}

.budget-col-middle {
  padding: 0 20px;
}

.discovery {
  position: relative;
  .suggest {
    float: left;
    margin-top: 47px;
  }
  .by{
    float:right;
    margin-top: 20px;
  }
}

.important {
  color: $brand-red;
  font-weight: bold;
}
.twoCol {
  @include span-columns(6);
  @include omega(2n);
  text-align: center;
}
.oneCol {
  @include span-columns(12);
  @include omega(1n);
  text-align: center;
}

.input-revealer {
  background-image: url('http://www.iconsfind.com/wp-content/uploads/2013/11/Editing-Edit-icon.png');
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: top right;
}
nav {
  background-color: rgba(0,0,0,0.3);
  height: 60px;
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  position: fixed;
  top: 0;

  ul {
    margin: 0;
    li {
      display: inline-block;
      // float: right;
      margin: 0 10px;
      line-height: 60px;

      &.right {
        float: right;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 200px;
      }
    }
  }
}

.trips {
  .trips-tile-overlay {
    @include position(absolute, 0 0 0 0);
    background-color: rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 0.2s ease;
    @media (max-width:767px) {
      opacity: 1;
      background-color: transparent;

    }
  }
  h1{
    text-align: center;
  }
  @include outer-container;
  &-tile {
    @include span-columns(3);
    @include omega(4n);
    @media (max-width:767px) {
      @include span-columns(6);
      @include omega(2n);
    }
    // auto size styling for the box which is responsive
    position: relative;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    background-size: cover;
    background-position: center;
    margin-bottom: 2.35765%;
    ul {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      width: 90%;
      margin: 0;
      li {
        list-style: none;
      }
    }
    .locationsHeading{
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      color: white;
      margin: 0;
      @media (max-width:767px) {
        font-size: 16px;
      }
    }
    &:hover {
      .trips-tile-overlay {
        opacity: 1;
      }
    }
  }
}
