@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
// @import "partials/forms";

body {
  background-color: ffffff;
}

img {
  max-width: 100%;
}

section {
  @include outer-container;
}

.images {
  &-left {
    @include span-columns(6);
    @media screen and (max-width: 768px) {
      @include span-columns(12);
    }
  }
  &-right {
    @include span-columns(6);
    @media screen and (max-width: 768px) {
      @include span-columns(12);
    }
    &-img {
      @include span-columns(3 of 6);
      @include omega(2n);
      @media screen and (max-width: 768px) {
        @include span-columns(6 of 12);
      }
      // height: 200px;
      padding-top: 47.6%;
      background-position: center;
      background-size: cover;
      margin-bottom: $gutter;
    }
  }
}
#home-images {
  @include span-columns(4);
  @include omega(3n);
}
